/************************
div - col-2 - image
************************/
.div_col_img{
	padding-left: 0.12rem;
	padding-right: 0.8rem;
	padding-top: 0.3rem;
	margin-right: 1rem;
}

/************************
img - image
************************/
.img_tag{
	width: 100%;
}



/************************
div - col-9
************************/
.div_col_nine{
	margin-bottom: 1.4rem;
}



/************************
h4 - tag - name of channel
************************/
.hfour_tag{
	margin-bottom: 0;
	font-size: 2em;
}


/************************

************************/




/************************

************************/