/***************************
col-3 image column
***************************/
.col_img{
	padding-left: 1rem;
	padding-right: 0;
}

/***************************
h4, h5 name and designation
***************************/
.name_designation{
	margin-top: 0.03rem;
	font-size: 2em;
	margin-bottom: 0.2rem;
}